@model Car

<div class="display-car-data">
    <div class="car-data">
        <div class="props">
            <span class="text-prop">@Model.Max_range km</span>
            <span class="prop">Range</span>
        </div>
        <div class="props">
            <span class="text-prop">@Model.Max_speed km/h</span>
            <span class="prop">Reichweite</span>
        </div>
        <div class="props">
            <span class="text-prop">@Model.Acceleration</span>
            <span class="prop">0-100 km/h</span>
        </div>
        <div class="props">
            <span class="text-prop">@Model.Ps</span>
            <span class="prop">PS</span>
        </div>
        <div class="props">
            <span class="text-prop">@Model.Price €</span>
            <span class="prop">Price</span>
        </div>
        <div class="props">
            <div class="btn-container">
                <button class="btn" onclick="window.location.href='/home/index'"><p class="btn-content">ORDER NOW</p></button>
            </div>
        </div>
    </div>
</div>