@model List<Order>

<link rel="stylesheet" href="~/css/user.css">

<div class="orders">
@if(Model != null){

	<div class="order-card">
		<table>
		<thead>
			<tr>
				<th>Order ID</th>
				<th>Articel ID</th>
				<th>Unpaid</th>
				<th>Status</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (Order order in Model)
			{
				<tr>
					<td>@order.ID</td>
					<td>@order.article_id</td>
					<td>@order.Saldo</td>
					<td>@order.status.getStatusName()</td>
					<td>
						@if(@order.status == OrderStatus.open) {
							<button class="user-btn pay" onclick="payOrder(@order.ID)">Pay</button>
							<button class="user-btn cancel" onclick="cancelOrder(@order.ID)">Cancel</button>
						}else {
							<p>-</p>		
						}
					</td>
				</tr>
			}
			@if(Model.Count() == 0){
				<tr>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
					<td>-</td>
				</tr>
			}
		</tbody>
	</table>
	</div>
	<script>
		function payOrder(id){
			let url = "/order/payorder/" + id
			console.log(url)
			fetch(url, "GET")
		}
	</script>
}
</div>