@model List<List<object>>


<link rel="stylesheet" href="~/css/adminpanel.css">

<div class="wrapper">

    <form class="logout-form" asp-action="logout" asp-controller="account" method="post">
        <button class="logout-btn"></button>
    </form>

    <div class="select-box">
        <div class="selected">
            No Filter
        </div>
        <div class="option-container"></div>

    </div>
    <div class="mode-switcher">
        <button class="car-mode-switch">Autos</button>
        <button class="user-mode-switch">User</button>
    </div>

    <div class="user-container" style="display: none;">
        @if(Model[1] != null){
            <div class="user-table">
                <div class="user-card">
                    <table>
                        <thead>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Access</th>
                        </thead>
                        <tbody>
                            @foreach(User user in Model[1]){
                                <tr>
                                <td>@user.ID</td>
                                <td>@user.Username</td>
                                <td>@user.Email</td>
                                <td>@user.access.getAccessName()</td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>

    @if(Model[0] != null) {
        <div class="car-container" style="display: none; ">
            <div class="card-wrapper">
                <div class="card-container">
                @foreach (Car car in Model[0])
                {
                    @if (car.Model.Contains(""))
                    {
                        <partial name="Car-Card" model=car></partial>
                    }
                }
                
                    </div>
                </div>
        </div>
    }else {
        <span class="error-message">@Context.Session.GetString("car-error")</span>
    }
    <div id="site-state" style="display:none;">@Context.Session.GetString("adminpanel-state")</div>
</div>

<script src="~/js/AdminPanel.js"></script>
<script>
    const state_div = document.getElementById("site-state")
    function getSession(){
        
        var state = state_div.innerText;
        if(state == null)
            return;
        
        if(state == "car")
            setCarState()
        else if(state == "user")
            setUserState()
            
        console.log("loaded" + state)
    }

    getSession()

    document.querySelector(".car-mode-switch").addEventListener('click', () => {
        if(state_div.innerText == "user")
            changeState()        
    })

    document.querySelector(".user-mode-switch").addEventListener('click', () => {
        if(state_div.innerText == "car")
            changeState()
    })

    function changeState(){
        fetch("/account/changeadminpanelstate")
            .then(response => response.text())
            .then(data => state_div.innerText = data)
        
    }

    

</script>