@model List<List<object>>


<link rel="stylesheet" href="~/css/adminpanel.css">

@*<div class="role-module">
        <div class="role-container">
            <div class="change-option">
                <input type="radio" name="type" id="admin_change">
                <label for="admin_change">Admin</label>
            </div>
            <div class="change-option">
                <input type="radio" name="type" id="mod_change">
                <label for="mod_change">Mod</label>
            </div>
            <div class="change-option">
                <input type="radio" name="type" id="user_change">
                <label for="user_change">User</label>
            </div>
            <button id="close-role-module" type="button" class="exit-changer"></button>
        </div>
    </div>*@
<div class="wrapper">
    <form class="logout-form" asp-action="logout" asp-controller="account" method="post">
        <button class="logout-btn"></button>
    </form>

    <div class="controle-panel">
        <div class="select-box">
            <div class="selected">
                No Filter
            </div>
            <div class="option-container"></div>
        </div>
        <div class="mode-switcher">
            <button class="car-mode-switch">Autos</button>
            <button class="user-mode-switch">User</button>
        </div>
    </div>

    <div class="user-container" style="display: none;">
        @if(Model[1] != null){
            <div class="user-table">
                <div class="user-card">
                    <table>
                        <thead>
                            <th>ID</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Access</th>
                        </thead>
                        <tbody>
                            @foreach(User user in Model[1]){
                                <tr class="table-row">
                                    <td>@user.ID</td>
                                    <td>@user.Username</td>
                                    <td>@user.Email</td>
                                    <td>@user.access.getAccessName()</td>
                                    <td>
                                        @if(@user.access == Access.BANNED) {
                                            <form class="unban-form" action="/Account/UnbanUser/@user.ID">
                                                <button class="ban-btn">Unban</button>
                                            </form>
                                        }
                                        else {
                                            <form class="ban-form" action="/Account/BanUser/@user.ID">
                                                <button class="ban-btn">Ban</button>
                                            </form>
                                        }
                                    </td>
                                    @*<td>
                                        <button class="role-changer-btn" type="button" value="@user.ID">Change Role</button>
                                    </td>*@
                                </tr>
                                }
                            </tbody>
                    </table>
                </div>
                @if(Context.Session.GetString("ban-error") != null) {
                        <span>@Context.Session.GetString("ban-error")</span>
                    }
            </div>
        }
    </div>

    @if(Model[0] != null) {
        <div class="car-container" style="display: none; ">
            <div class="card-wrapper">
                <div class="card-container">
                @foreach (Car car in Model[0])
                {
                    @if (car.Model.Contains(""))
                    {
                        <partial name="Car-Card" model=car></partial>
                    }
                }
                
                    </div>
                </div>
        </div>
    }else {
        <span class="error-message">@Context.Session.GetString("car-error")</span>
    }
    <div id="site-state" style="display:none;">@Context.Session.GetString("adminpanel-state")</div>
</div>

<script type="text/javascript" src="~/js/AdminPanel.js"></script>
<script>
    const state_div = document.querySelector("#site-state")
    const role_changers = document.querySelectorAll(".role-changer-btn")
    const role_module = document.querySelector(".role-module")
    function getSession(){
        
        var state = state_div.innerText;
        if(state == null || state == "")
            state = "car"
        
        if(state == "car")
            setState("car")
        else if(state == "user")
            setState("user")
        
        state_div.textContent = state
        console.log("loaded" + state)
    }

    getSession()

    document.querySelector(".car-mode-switch")?.addEventListener('click', () => {
        if(state_div.innerText == "user")
            changeState()        
    })

    document.querySelector(".user-mode-switch")?.addEventListener('click', () => {
        if(state_div.innerText == "car")
            changeState()
    })

    document.querySelectorAll(".role-changer-btn")?.forEach(element => {
        element.addEventListener('click', () => {
        if(role_module.style.display == "none")
            role_module.style.display = ""
        else
            role_module.style.display = "none"
        })
    })

    document.querySelector("#close-role-module")?.addEventListener('click', () => {
        if(role_module.style.display == "none")
            role_module.style.display = ""
        else
            role_module.style.display = "none"
    })
    role_changers.forEach(element => {
        element.addEventListener('click', () => {

        })
    })

    function changeState(){
        
        fetch("/account/changeadminpanelstate")
            .then(response => response.text())
            .then(data => state_div.textContent = data)
        
    }

    

</script>